.bar{
    position: relative;
    margin: 0;
    padding: 0;
    outline: 0;
    display: inline-block;
    border: none;
    background: #ccc;
    vertical-align: top;
}
.top-bar{
    width: 100%;
    background: #4e83ee;
}
.side-bar{
    width: 30%;
    background: rgb(97, 228, 228);
}
.mid-bar{
    width: 40%;
    background: rgb(224, 148, 148);
}